* {
    margin: 0;
    padding: 0;
}

/* -------top-banner-------- */
.top-banner {
    margin-bottom: 100px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner {
    padding-top: 200px;
    text-align: center;
    color: white;
    text-transform: capitalize;

}

.banner p {
    margin-bottom: 15px;
}

.button {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 8px 20px;
    border-radius: 5px;
}

/*=============== Donate  Today =============== */
.donate {
    margin-bottom: 70px;
}

.donate-heading {
    margin-bottom: 30px;
    text-align: center;
}

.donate-amount {
    display: flex;
    justify-content: space-evenly;
}

.amount {
    padding: 40px 60px;
    background-color: rgb(199, 193, 193);
    text-transform: capitalize;
    margin-bottom: 30px;
}

#amount-tk {
    color: red;
    border: 2px solid red;
}

.payment {
    text-align: center;
}

hr {
    width: 800px;
    margin-left: 250px;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

p {
    text-align: center;
    padding-bottom: 5px;
}

/*=============== cause section =============== */
.cause-heading {
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

.mission {
    display: flex;
    margin-left: 200px;
    margin-bottom: 30px;
}

.card {
    width: 26%;
    height: 170px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
}

.card img {
    width: 15%;
    padding-bottom: 10px;
    text-align: left;
}

.one-box {
    background-color: rgba(163, 233, 169, 0.856);
}

.second-box {
    background-color: rgb(207, 135, 40);
}

.third-box {
    background-color: rgba(207, 193, 176, 0.822);
}




.donate-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    width: 90%;
}

.half-width {
    width: 50%;
    margin: 0px 20px;
}

.half-width img {
    width: 70%;
}

.half-width p {
    padding-bottom: 30px;
}