* {
    margin: 0;
    padding: 0;
}

.top-banner {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.banner {
    padding-top: 200px;
    text-align: center;
    color: white;
    text-transform: capitalize;

}

.banner p {
    margin-bottom: 15px;
}

.button {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 5px 20px;
    border-radius: 8px;

}